@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap');


button, input[type="submit"], input[type="reset"], input[type="text"], select, textarea {
	background: none;
	color:#6cc8a1;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    border-style: solid;
    border-radius: 7.5px;
}

body {
    font-family: ‘Roboto’, sans-serif;
    background-image: url("https://www.scribendi.com/images/cms/thumbnails/Quotation%20Marks_720x370.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #8834bd;
    border-radius: 0px 0px 30px 30px;
}
h1 {
    padding-left: 1rem;
    color: #6cc8a1;
    font-family: 'Coda Caption', sans-serif;

}
img {
    height: 343px;
    
}
#mid_content {
    display: flex;
    justify-content: space-between;
}
#mid_content > p {
    margin: 0;
    font-size: 1.3rem;
    width: 26rem;
    padding: 3rem 10rem;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
border-radius: 20px;
border-style: solid;
border-color: #6cc8a1;
}

li {
float: left;
}

li a {
display: block;
color: #6cc8a1;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

#create-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    height: 20rem; 
    background: #8834bd;
    border-radius: 25px;
    margin-left: 3rem;
}

[type="submit"] {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
}

#create-quote h2 {
    margin: 0;
    font-size: 2rem;
    color: #6cc8a1;
}

textarea {
    padding: 0.4rem;
}

input[type="text"] {
    width: 20rem;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
}

#create-speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    background: #8834bd;
    border-radius: 25px;
    margin-right: 3rem;
}

#create-speaker h2 {
    margin: 0;
    font-size: 2rem;
    color: #6cc8a1;
}

#form_content {
    display: flex;
    justify-content: space-between;
}

